<div class="profile">
    <div class="container">
        {{ drupal_block('greeting_block', [], FALSE) }}
        {{ drupal_block('user_account_menu_block', [], FALSE) }}
    </div>
</div>

<div class="page-title-left container">{{ 'Edit My settings'|t }}</div>

<form{{ attributes }}>
    {{ children }}
</form>
