<div class="profile">
  <div class="container">
    {{ drupal_block('greeting_block', [], FALSE) }}
    {{ drupal_block('user_account_menu_block', [], FALSE) }}
  </div>
</div>

<div class="page-title-left container">{{ 'My Family'|t }}</div>

<div class="container select-account">
  <p>Select which account to use to play 12Bursts.</p>
</div>

<form{{ attributes.addClass('container') }}>
  {{ children }}
</form>
