{{ attach_library('twelve_app/puzzle') }}

<div id="twelve_puzzle_app">
  <today-progress
    :game_nid='{{ game_nid }}'
    :excercises='{{ excercises|json_encode }}'
    :progress_nid='{{ progress_nid }}'
    :finished_items='{{ finished_items|json_encode }}'
  ></today-progress>
</div>
