{{ attach_library('twelve_app/puzzle') }}

<div id="twelve_puzzle_app">
  <Puzzle
    :debug='{{ debug|json_encode }}'
    :game_nid='{{ game_nid }}'
    :progress_nid='{{ progress_nid }}'
    :excercise_list='{{ excercises|json_encode }}'
    :finished_items='{{ finished_items|json_encode }}'
  ></Puzzle>
</div>
