{{ attach_library('twelve_app/puzzle') }}

<div id="twelve_puzzle_app">
  <today-progress
    :excercises='{{ excercises|json_encode }}'
    :completion_url='{{ completion_url|json_encode }}'
    :current_nid='{{ current_nid }}'
    :finished_items='{{ finished_items|json_encode }}'
  ></today-progress>
</div>
