{{ attach_library('twelve_app/seven_summits') }}

{% if debug %}
  {{ error_message }}
{% endif %}

<div id="seven_summits_app">
  <Sevensummits
    :debug='{{ debug|json_encode }}'
    :error_message='{{ error_message|json_encode }}'
    :hero_config='{{ hero_config|json_encode }}'
    :summits='{{ summits|json_encode }}'
    :mountains_conquered='{{ mountains_conquered|json_encode }}'
    :summits_reached='{{ summits_reached|json_encode }}'
  ></Sevensummits>
</div>
