{#
/**
 * @file
 * Theme to render user recent achievements.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - badges_list
 * - uid
 */
#}
<div class="recent-achievements container">
    <div class="header">
      {{ 'RECENT ACHIEVEMENTS'|t  }}
    </div>

    {% if badges_list is empty %}
    <div class="empty">
      {{ 'No badges yet.'|t  }}
    </div>
    {% endif %}

    <div class="list">
    {% for badge in badges_list %}
      {% set badge_name = badge.field_badge_type.entity.name.value %}
      {% set game_name = badge.field_results.entity.field_when.entity.title.value %}
      {% if badge_name == 'All Summits Conquered' %}
        {% set game_name = '' %}
      {% endif %}
    <div class="list-item">
      <div class="image {{ badge.field_badge_type.entity.name.value | replace({' ':'-'})| lower }}"></div>
      <div class="badge-name">{{ badge_name }} Badge</div>
      <div class="game-name">{{ game_name }}</div>
      <div class="date">{{ badge.createdtime|format_date('medium') }}</div>
    </div>
    {% endfor %}
    </div>

    {% if badges_list is not empty %}
      <div class="all_badges">
        <a href="{{  path('twelve_user.achievements', {'user': uid}) }}">{{ 'All My Achievements'|t  }}</a>
      </div>
    {% endif %}
</div>
