{#
/**
 * @file
 * Theme to render user achievements.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123/achievements. 123 being the user's ID.
 *
 * Available variables:
 * - badges_list
 * - uid
 */
#}

<div class="profile">
  <div class="container">
    {{ drupal_block('greeting_block', [], FALSE) }}
    {{ drupal_block('user_account_menu_block', [], FALSE) }}
  </div>
</div>

<div class="user-achievements container">
  <div class="header">
    <a class="fas fa-arrow-left" href="{{  path('entity.user.canonical', {'user': uid}) }}"></a> {{ 'My Achievements'|t  }}
  </div>

  {% if badges_list is empty %}
    <div class="empty">
      {{ 'No badges yet.'|t  }}
    </div>
  {% else %}
    <div class="list">
    {% for badge in badges_list %}
      <div class="list-item">
        <div class="image {{ badge.field_badge_type.entity.name.value | replace({' ':'-'})| lower }}"></div>
        <div class="badge-name">{{ badge.field_badge_type.entity.name.value }} Badge</div>
        <div class="game-name">{{ badge.field_results.entity.field_when.entity.title.value }}</div>
        <div class="date">{{ badge.createdtime|format_date('medium') }}</div>
      </div>
    {% endfor %}
    </div>
  {% endif %}

</div>
